<ul>
  <li id="wedding-button" class="dropdown">The Wedding</li>
  <li id="party-button" class="dropdown">Meet the Wedding Party</li>
  <li id="travel-button" class="dropdown">Travel & Accommodations</li>
</ul>
<div id="wedding" class="wedding-component">
  <h2>
    Onteora Mountain House
  </h2>
  <h3>
    October 21st, 2017
  </h3>
  <p>
    We are delighted to invite you to join us in celebrating our wedding.
  </p>
  <p>
    The ceremony will begin at 4pm, at the Onteora Mountain House in Boiceville, NY, with cocktails at 4:30, and a reception to follow at 5pm.
  </p>
</div>
<div id="party" class="wedding-component">
  <h1>
    Meet the Wedding Party
  </h1>
</div>
<div id="travel" class="wedding-component">
  <h1>
    How To Get There & Where To Stay:
  </h1>
</div>
