<ul>
  <li id="wedding-button" class="dropdown">The Wedding</li>
  <li id="party-button" class="dropdown">Meet the Wedding Party</li>
  <li id="travel-button" class="dropdown">Travel & Accommodations</li>
</ul>
<div id="wedding" class="wedding-component">
  <h2>
    Onteora Mountain House
  </h2>
  <h3>
    October 21st, 2017
  </h3>
  <p>
    We are delighted to invite you to join us in celebrating our wedding.
  </p>
  <p>
    The ceremony will begin at 4pm, at the Onteora Mountain House in Boiceville, NY, with cocktails at 4:30, and a reception to follow at 5pm.
  </p>
</div>
<div id="party" class="wedding-component">
  <h4>
    Meet the Wedding Party
  </h4>
  <ul>
    <li>
      Elizbeth Good
    </li>
    <li>
      Katie Frouman
    </li>
    <li>
      Jackie Avitabile
    </li>
    <li>
      Lin Gyi
    </li>
    <li>
      Sebastian Moya
    </li>
    <li>
      Irene Hartmann
    </li>
    <li>
      Carina Jollie
    </li>
    <li>
      Andrew Frost
    </li>
    <li>
      Charlie Cooper-Simpson
    </li>
    <li>
      David Bowden
    </li>
    <li>
      Alex Champlin
    </li>
  </ul>
</div>
<div id="travel" class="wedding-component">
  <div class="travel-items">
    <h5>
        <span style="text-transform:uppercase;">How To Get There & Where To Stay</span>
    </h5>
    <p>
      Onteora Mountain house is located near Woodstock in the absolutely beautiful Catskills.
      We hope you’ll take some time to enjoy the area before and after the wedding!
    </p>
  </div>
  <div class="travel-items">
    <h5>
      <span style="text-transform:uppercase;">Kaatskill Mountain Club</span>
    </h5>
    <p>
      If you’re staying overnight, we recommend booking a room at the <a href="http://www.kaatskillmtnclub.com/">Kaatskill Mountain Club</a>, located about 25 minutes from the Onteora Mountain House.
    </p>
    <h4>
      <span style="margin:0 200px; font-size: 20px;"><i><strong>Why's that?</strong></i></span>
    </h4>
    <ul>
      <li>
        1. We will be running a <a href="#form-container">shuttle bus</a> between the Kaatskill Mountain Club before and after the wedding. We VERY MUCH recommend you sign up for the shuttle if you’ll be staying at the Kaatskill Mountain House! That way, you can enjoy yourself (read as: get your drink on) at the wedding, and not have to worry about transportation.
      </li>
      <li>
        2. Although the wedding ends at 10 PM, there will be an informal <strong>afterparty</strong> at Rip Van Winkles (at the Kaatskill Mountain Club) afterwards. We invite you to join us there!
      </li>
      <li>
        3. It’s a pretty nice darn hotel, and there are a variety of options for rooms.
      </li>
        <ul>
          <li>
            a. If you’re looking to save some money, we recommend their 1 Bedroom Condo, which is very affordable sleeps up to 4!
          </li>
        </ul>
    </ul>
    <p>
      <i>Please note: we are not doing a block at Kaatskill</i> - their off-season (which starts the weekend of the wedding) has <strong>rates that are comparable to block rates</strong>, and this way no guest is locked into a minimum number of nights. <br/>That said, we recommend <strong>BOOKING AS EARLY AS POSSIBLE</strong>.
    </p>
  </div>
  <div class="travel-items">
    <h5>
      <span style="text-transform:uppercase;">other options</span>
    </h5>
    <p>
      If you’d rather find your own way to the wedding (but really, you should stay at the Kaatskill Mountain Club and take the shuttle if you can! No? Ok…), there are a number of other really nice hotels in the area:
    </p>
    <ul>
      <li>
        * The swanky <a href="http://emersonresort.com/">Emerson Resort</a> and Spa is located just a few minutes away from Onteora.
      </li>
      <li>
        * The <a href="http://www.thegrahamandco.com/">Graham & Co Hotel</a> is super duper hip -- think Brooklyn meets Catskills.
      </li>
      <li>
        * About 20 minutes away, <a href="https://www.tripadvisor.com/Hotels-g48003-Kingston_New_York-Hotels.html">Kingston, NY</a> has a number of affordable hotels - think Courtyard by Marriott, Best Western, etc.
      </li>
      <li>
        * <a href="https://www.airbnb.com/">AirBnB</a> has a number of adorable and comfortable options in the area, too! (Search “Boiceville, NY”)
      </li>
    </ul>
  </div>
  <div id="form-container" class="travel-items">
    <a name="form-container"></a>
    <h5>
      <span style="text-transform:uppercase;">important: the shuttle</span>
    </h5>
    <p>
      The shuttle will leave from the Kaatskill Mountain Club at TKTIME. <br/>It will return to Kaatskill when the wedding ends at 10 PM, just in time for the afterparty/stumbling back to your room. <br/>If you would like to take the shuttle, please fill out the form below:
    </p>
    <p>
      <strong>NOTE: if you just want a one-way trip, or have other comments, let us know here!</strong>
    </p>
    <form id="#bus-form">
      <textarea name='textarea' id="shuttle-form">Name(s) of ALL individuals in your party who want a ride on the shuttle. </textarea>
      <input type="submit">
    </form>
  </div>
  <div class="travel-items">
    <h5>
      <span style="text-transform:uppercase;">driving</span>
    </h5>
    <p>
      If you’re planning on driving yourself to the wedding, the address is:
    </p>
    <blockquote>
      <!-- <a href="">96 Piney Point Road | Boiceville, NY 12412</a> -->
    </blockquote>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.354639333489!2d-74.26008668455462!3d42.01412397921157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dcfe7b6c210a89%3A0xbd4f46524969f747!2s96+Piney+Point+Rd%2C+Boiceville%2C+NY+12412!5e0!3m2!1sen!2sus!4v1481826360272" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
