body {
  /*background: #012245;*/
  background: #ebf1f7;
}


.hero-image img {
  border: 2px solid #D49784;
  display: block;
  margin: 20px auto;
  height: 30em;
  width: auto;
}

.nav-wrapper {
  /*background: #5874A4;*/
  background: #DE8D16;
  padding: 0 10px;
}

.carousel {
  margin: 10px auto;
}

nav .brand-logo {
  color: #012245;
  font-family: 'Courgette', cursive;
}

nav ul a {
  color: #012245;
  font-family: 'Courgette', cursive;
  text-transform: uppercase;
}


#arapey {
  font-family: 'Arapey', serif;

}
#Courgette {
  font-family: 'Courgette', cursive;
}

.container {
  color: #012245;
}

.dropdown {
  width: 100%;
  height: 1em;
  position: relative;
  display: inline;
  padding: 1em;
  margin: 10px auto;
  text-decoration: underline;
  font-size: 1em;
}

.dropdown:hover {
  cursor: pointer;
  font-weight: bold;
}

.wedding-component {
  padding: 0.75em 1.5em;
  width: 100%;
  height: 25em;
  border: 1px solid black;
}
