<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="img/hero1.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="img/hero2.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="img/hero3.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="img/hero4.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="img/hero5.jpg"></a>
  <a class="carousel-item" href="#six!"><img src="img/hero6.jpg"></a>
  <a class="carousel-item" href="#seven!"><img src="img/hero7.jpg"></a>
  <a class="carousel-item" href="#eight!"><img src="img/hero8.jpg"></a>
  <a class="carousel-item" href="#nine!"><img src="img/hero9.jpg"></a>
  <a class="carousel-item" href="#ten!"><img src="img/hero10.jpg"></a>
  <a class="carousel-item" href="#eleven!"><img src="img/hero11.jpg"></a>
  <a class="carousel-item" href="#twelve!"><img src="img/hero12.jpg"></a>
  <a class="carousel-item" href="#thirteen!"><img src="img/hero13.jpg"></a>
  <a class="carousel-item" href="#fourteen!"><img src="img/hero14.jpg"></a>
  <a class="carousel-item" href="#fifteen!"><img src="img/hero15.jpg"></a>
  <a class="carousel-item" href="#sixteen!"><img src="img/hero16.jpg"></a>
  <a class="carousel-item" href="#seventeen!"><img src="img/hero17.jpg"></a>
</div>
